{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="page-inner">
<div class="container">
    <h1>Supprimer la Prescription Lunette</h1>
    <p>Êtes-vous sûr de vouloir supprimer cette prescription lunette ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a class="btn btn-secondary" href="{% url 'prescription_lunette-detail' prescription.pk %}">Annuler</a>
    </form>
</div>

  </div>
</div>
{% endblock %}