{% extends "base.html" %}

{% block title %}Supprimer la Prescription Médicale{% endblock %}

{% block content %}
<div class="container">
    <h1>Supprimer la Prescription Médicale</h1>
    <p>Êtes-vous sûr de vouloir supprimer cette prescription médicale ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a class="btn btn-secondary" href="{% url 'prescription_medicale-detail' prescription_medicale.pk %}">Annuler</a>
    </form>
</div>
{% endblock %}
