{% extends "base.html" %}

{% block title %}Bénéficiers{% endblock %}

{% block content %}
<div class="container">
    <h1>Bénéficiers</h1>
    <a class="btn btn-primary mb-3" href="{% url 'beneficier-add' %}">Ajouter un Bénéficier</a>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient</th>
                <th>Traitement</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for beneficier in beneficiers %}
            <tr>
                <td>{{ beneficier.date }}</td>
                <td>{{ beneficier.patient }}</td>
                <td>{{ beneficier.traitement }}</td>
                <td>{{ beneficier.user }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'beneficier-detail' beneficier.pk %}">Détails</a>
                    <a class="btn btn-warning btn-sm" href="{% url 'beneficier-edit' beneficier.pk %}">Modifier</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'beneficier-delete' beneficier.pk %}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
