{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="page-inner">
<div class="container">
    <h1>Dépenses</h1>
    <a class="btn btn-primary mb-3" href="{% url 'depense-add' %}">Ajouter une Dépense</a>
    <table class="table">
        <thead>
            <tr>
                <th>Motif</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for depense in depenses %}
            <tr>
                <td>{{ depense.motif }}</td>
                <td>{{ depense.montant }}</td>
                <td>{{ depense.date }}</td>
                <td>{{ depense.user }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'depense-detail' depense.pk %}"><i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-warning btn-sm" href="{% url 'depense-edit' depense.pk %}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-sm" href="{% url 'depense-delete' depense.pk %}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

  </div>
</div>
{% endblock %}