{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="page-inner">
<div class="container">
    <h1>Détails du Grade Médical</h1>
    <p><strong>Libellé:</strong> {{ grade_med.libelle }}</p>
    <p><strong>Prix de Consultation:</strong> {{ grade_med.prix_consult }}</p>
    <a class="btn btn-primary" href="{% url 'grade_med-edit' grade_med.pk %}">Modifier</a>
    <a class="btn btn-danger" href="{% url 'grade_med-delete' grade_med.pk %}">Supprimer</a>
    <a class="btn btn-secondary" href="{% url 'grade_med-list' %}">Retour à la liste</a>
</div>

  </div>
</div>
{% endblock %}
