{% extends "base.html" %}

{% block title %}Lunettes{% endblock %}

{% block content %}
<div class="container">
    <h1>Lunettes</h1>
    <a class="btn btn-primary mb-3" href="{% url 'lunette-add' %}">Ajouter une Lunette</a>
    <table class="table">
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lunette in lunettes %}
            <tr>
                <td>{{ lunette.modele }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'lunette-detail' lunette.pk %}">Détails</a>
                    <a class="btn btn-warning btn-sm" href="{% url 'lunette-edit' lunette.pk %}">Modifier</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'lunette-delete' lunette.pk %}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
